@import '../../assets/styles/_resources.scss';

.jumbotron {
  background-image: url(../../assets/images/image_logo1.png);
  background-size: cover;
  background-color: rgba(155, 105, 9, 1);
  padding: 250px 0 0;
  display: flex;
  align-items: flex-end;
  border-bottom: 8px solid $button-color;

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    padding-left: 90px;

    h1 {
      font-size: $dt_hero_font_size;
      line-height: $dt_hero_line_height;
      font-weight: 300;
      color: $white;
      margin-bottom: 135px;

      span {
        font-weight: 700;
        font-size: $dt_hero_font_size;
        line-height: $dt_hero_line_height;
      }
    }
  }

  &__form {
    background: rgba(41, 41, 41, 0.8);
    color: $white;
    max-width: 729px;
    width: 100%;
    padding: 80px 21px 52px;

    &__direction {
      font-size: $dt_nav_font_size;
      line-height: $dt_nav_line_height;
      font-weight: 300;
      padding-left: 8px;
      margin-bottom: 15px;
    }

    &__row {
      display: flex;
      align-items: center;
      margin-bottom: 60px;
      justify-content: space-between;
    }

    &__input {
      @include set-input-search();
    }

    &__date {
      @include set-input-date();
    }

    &__change {
      margin: 0 5px;
    }

    &__button {
      @include set-search-button();
    }
  }
}
