$white: #ffffff;
$black: #000000;
$primary-color: #ffa800;

$nav-background: #292929;
$logo-background: rgba(0, 0, 0, 0.6);
$footer-background: #2d2b2f;
$border-color: #c4c4c4;
$head_form_back: #f9f9f9;
$error_color: rgba(255, 0, 0, 0.38);

$text-color: #e5e5e5;
$text-color2: #928f94;
$text-color3: #292929;
$text-color4: #3e3c41;

$main-color: #e5e5e5;

$button-color: #ffa800;
